---
import '../styles/global.css'; // Import global styles
import { Image } from 'astro:assets';

//content
import Layout from '../layouts/BasePage.astro';


---
<style>

</style>
<Layout title="Further Information">
	<div class="centredContent">
		<p>Todo: add links</p>
	</div>
</Layout>