---
import '../styles/global.css'; // Import global styles
import { Image } from 'astro:assets';

//content
import Layout from '../layouts/BasePage.astro';
import { Content } from '../content/text/furtherinfo.md'

---
<style>

</style>
<Layout title="Further Information">
	<div class="centredContent">
		<Content />
	</div>
</Layout>