---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css'; // Import global styles
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Image } from 'astro:assets';

//content
import { Content } from '../content/MD text/How to help marfa.md';
import SignPetition from "../components/PetitionButton.astro";
import landingImage from '../content/images/MarfaBehindBars.jpg';

---
<style>
@media only screen and (max-width: 720px) {
	.imgText{
		display: grid;
		grid-template: 'img' 'text';
		align-items: center; 
		column-gap: 1em;
		flex-wrap: nowrap; 
		justify-content: center; 
		column-gap: 1em; position: static;
	}
	.column{
		flex: 100%;
		margin: auto;
	}
}

@media only screen and (min-width: 720px) {
	.imgText{
		display: grid;
		grid-template: 'text img';
		align-items: center; 
		column-gap: 1em;
		flex-wrap: nowrap; 
		justify-content: center; 
		column-gap: 1em; position: static;
	}
	.column{
		flex: 50%;
	}

}
.landingDiv{
	align-items: center;
	text-align: center;
	justify-content: center;
	width: calc(100% - 60px);
	position: static;
	margin: 0 auto;
	padding: 5px;
	max-width: 1800px;
	object-position: 50%;
}
.social-links, .social-links a {
	color: var(--black);
	display: flex;
	align-items: center;
	margin: 0 auto;
}
.social-links a:hover {
	color: var(--accent);
}
</style>
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="landingDiv">
				<h1>Imprisoned for documenting injustice</h1>
				<div class="imgText">
					<div class="column" style="text-align: center; grid-area: text;">
						<p>
						Marfa Rabkova is a 29-year-old human rights activist from Belarus, currently serving a 14-year prison sentence for defending democracy, academic freedom, and the right to protest. Her “crime” was helping communities document election fraud and police brutality. Our campaign, Echoing Marfa, seeks to amplify her story, raise awareness, and mobilise solidarity with her and others imprisoned under Alexander Lukashenko’s authoritarian regime.					
						</p>
					</div>
					<div class="column" style="max-width: 500px; grid-area: img;">
						<Image src={landingImage} alt="Marfa Rabkova pictured behind bars at her trial" layout='constrained' fit="contain" object-position="100%"></Image>
					</div>
				</div>
			</div>
			<div class="divider">
				<script src="../scripts/vwFix.js"></script>
				<div style="max-width: 1800px; margin: 0 auto; padding: 0 1em; text-align: center;">
					<p style="padding: 0em;">
						"Violence is violence, repressions are repressions, and war is war. There is no other way. I feel ashamed when educated people cover their eyes and ears, mute their moral sense, and do not question their own actions. How much bravery does it take not to do bad things?  How much courage does it take to act under human values within one’s sphere of influence?"
					</p>
					<p class="subtext" style="font-size: .8em; text-align: right; padding-right:0em;">
						- Marfa Rabkova in a her final speech before imprisonment
					</p>
				</div>
			</div>
			<div class="landingDiv" style="padding-top: 1em;">
				<Content />
				<div style="display:block; margin:1em 3em">
					<SignPetition />
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>