---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Image } from 'astro:assets';
import landingImage from '../content/images/MarfaBehindBars.jpg';
---
<style>
.landingDiv{
	<---background-color: rgba(121, 113, 113, 0.747);--->
	width: calc(100% - 60px);
	position: relative;
	margin-right: 50px;
	margin-left: 50px;
	padding: 5px;
}
.column{
	flex: 50%;
}

</style>
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="landingDiv">
				<h1>Imprisoned for documenting injustice</h1>
				<div style="display: flex; column-gap: 1em;">
					<div class="column" style=" text-align: center;">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget suscipit urna, non vehicula sem. Pellentesque lacus enim, egestas id vestibulum at, dignissim et augue. Sed porttitor nisl ultrices, ultrices dui nec, fermentum dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris pharetra blandit augue, vitae tincidunt ex vestibulum nec. Proin ac facilisis nunc, vel fermentum ipsum. Donec rutrum in diam vel blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam tempor nibh non dui cursus, et euismod velit vehicula. Nunc id vehicula magna.
					</div>
					<div class="column" style="max-width: 500px;">
						<Image src={landingImage} alt="Marfa Rabkova pictured behind bars at her trial" layout='constrained' fit="contain" object-position="100%"></Image>
					</div>
				</div>
			</div>
			<div class="dividers" style="height: 100px; position: relative; width: 100vw; margin-left: -1em;">
				Test
			</div>
		</main>
		<Footer />
	</body>
	
</html>
